Filename: index.pug
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content=
            "width=device-width, initial-scale=1.0")
        title Juego de dados NodeJS
        style
         include style.css

      
       
    body
            h1 Juego de dados para multiples jugadores
            p 1. Request de creación de juego, con su respectivo formulario
            p 2. Query para consultar el juego y su estado (listado de jugadores y estados como tal del juego)
            p 3. Query para determinar el ganador del juego (una vista con el ganador)
            p 4. Request para iniciar el juego con la apuesta por cada jugador (acción que permita iniciar el juego)
            
            hr

            h2 Uso de Api
            h3 Para obtener una copia local en funcionamiento, siga estos sencillos pasos.
            p Clonar el repositorio
            p Clon de git https://github.com/HelloStan13/gameD.git
            p Instalar paquetes NPM
            p instalar npm
            p Ejecutar aplicación con: npm run dev

            hr

            h2 Cliente/test Opciones 
            p 1 Creacion de jugadores 
            p 2 Actualizacion de jugadores a traves de ID
            p 3 Eliminar jugador a traves de ID
            p 4 Inicio de juego
            p 5 Fin de juego y ganador

            hr
            p Contacto
            p Adryan Ynfante --> adryanynfante@gmail.com
            
            